{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
<!-- This /vote is where the page will be rendered?  see index.js as well?-->
    <form action="/createSub" method="post">
      <div class="form-group">
        <label>GitHub Name</label>
        <input type="text" class="form-control" id="githubName" placeholder="GitHub Name" name="name" required>
      </div>
      <div class="form-group">
        <label>GitHub URL</label>
        <input type="text" class="form-control" id="githubURL" placeholder="GitHub URL" name="url" required>
      </div>
      <div class="form-group">
        <label>GitHub IMG</label>
        <input type="txt" class="form-control" id="githubImage" placeholder="GitHub Image" name="img">
      </div>
      <!-- <div class="form-group">
        <label for="githubImage">GitHub Image</label>
        <input type="file" id="githubImage" name="img">
        <p class="help-block">Upload your GitHub Image here.</p>
      </div> -->
      <button type="submit" class="btn btn-success">Add Submission</button>
    </form>

  </div>
  <div class = container>
    <p>{{ message }}</p>
  </div>

  <div class="container">
    <h2>Submissions: {{ numUsers }}</h2>
  </div>

  <div class="container">
    <form action="/begin" method="post">
      <button type="submit" class="btn btn-success">Compete!</button>
    </form>
  </div>

{% endblock %}


