{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <div class="row col-md-5">
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>VOTE</th>
              <th>Vote Tally</th>
              <th>GH Name</th>
              <th>GH URL</th>
              <th>Gh Image</th>
            </tr>
          </thead>
          <tbody>
          {% for contestant in contestantsA %}
            <tr>
              <form action="/vote/{{ contestant.id }}" method="post">
                <td><button type="submit" class="btn btn-success" id="{{ contestant.id }}" name="{{ contestant.id }}">Vote!</button></td>
              </form>
              <td>{{ contestant.votes }}</td>
              <td>{{ contestant.githubName }}</td>
              <td>{{ contestant.githubURL }}</td>
              <td>{{ contestant.githubImage }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="row col-md-5 col-md-offset-2">
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>VOTE</th>
              <th>Vote Tally</th>
              <th>GH Name</th>
              <th>GH URL</th>
              <th>Gh Image</th>
            </tr>
          </thead>
          <tbody>
          {% for contestant in contestantsB %}
            <tr>
              <form action="/vote/{{ contestant.id }}" method="post">
                <td><button type="submit" class="btn btn-success" id="{{ contestant.id }}" name="{{ contestant.id }}">Vote!</button></td>
              </form>
              <td>{{ contestant.votes }}</td>
              <td>{{ contestant.githubName }}</td>
              <td>{{ contestant.githubURL }}</td>
              <td>{{ contestant.githubImage }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>

{% endblock %}



